/* Estilos globales del header */
header {
    background-color: rgb(222, 7, 7);
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Logo del encabezado */
.rossologocontainer {
    position: fixed;
    margin-left: 5%;
    width: auto;
}
.racing-logo {
    display: flex;
    width: 300px;
}
.racing-logo img {
    width: 300px;
}

/* Menú de navegación */
.menucontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 20%;
}
.menu ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.menu ul li a {
    font-family: Formula1-Bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 0%;
    transition: color 0.3s ease;
}
.menu ul li a:hover {
    color: rgba(248, 194, 0, 0.912);
}

/* Botón de menú (para pantallas pequeñas) */
.menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 100;
}
.menu-toggle .menu-icon {
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 5px 0;
    border-radius: 2px;
}

.f1animado {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: auto;
    img {
    width: 15%;
    position: relative;
    opacity: 0;
      animation: desplazamiento 10s linear infinite; /* Ajusta la duración según tu preferencia */
    @keyframes desplazamiento {
        0% {
            left: -80%;
            opacity: 0;
        
        }
        1%{
            opacity: 10;

        }
        
        100% {
            left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
        }
    }
    }

}



/* Menú responsive */
@media screen and (max-width: 800px) {
    .menucontainer {
        display: none;
        flex-direction: column;
        background-color: rgb(222, 7, 7);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        z-index: 99;
        padding-top: 50px;
    }

    .rossologocontainer {
        position: fixed;
        margin-left: 5%;
        width: auto;
    }
    .racing-logo {
        display: flex;
        width: 200px;
    }
    .racing-logo img {
        width: 200px;
    }

    .menucontainer.open {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .menu ul li a {
        font-family: Formula1-Bold;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        padding: 0%;
        transition: color 0.3s ease;
    }

.f1animado {
    img {
    @keyframes desplazamiento {
        0% {
            left: -80%;
            opacity: 0;
        }
        1%{
            opacity: 10;
            width: 30%;
        }
        
        100% {
            left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
            width: 30%;
        }
            }
    }

  }
}